{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "importOrder": [
    "^react",
    "<THIRD_PARTY_MODULES>",
    "^Screens",
    "^Components",
    "^Shared/Types",
    "^Shared/Helpers",
    "^Shared/Constants",
    "^[../](.*)",
    "^[./](.*)"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}
